    <%# <div class="col" style="max-width: 60%;"> %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <div class="card">
            <p id="title" class="text-center mt-1">
                <strong> <%= link_to series.title, anime_path(series), class: "text-decoration-none" %> </strong>
            </p>
            <ol id="anime-tags" class="text-center">
                <% @tags = series.tags.split('|')%>
                <% @tags.each do |tag|%>
                    <li> <%= tag %> &nbsp;</li>
                <% end %>
            </ol>
            <div class="row g-0">
                <div class="col-4 col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center">
                    <img src= <%= series.image %> class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <div class="card-body p-0">
                        <div class="text-center small"> Oct 3, 2021 at 8:00pm PKT </div>
                        <hr class="m-0">
                        <p class="card-text" id="description"><%= series.description %></p>
                    </div>
                </div>
            </div>
                <ol id="anime-tags" class="text-center">
                    <% @links = series.links.split('|')%>
                    <li id="web">
                        <a href= <%= @links[0] %> >web</a>
                    </li>
                    <li id="mal">
                        <a href= <%= @links[1] %> >mal</a>
                    </li>
                    <li id="adb">
                        <a href= <%= @links[2] %> >adb</a>
                    </li>
                </ol>
        </div>
    </div>