<div class="d-flex justify-content-center" style="min-height: calc(100vh - 110px);">
    <div class="row p-3 gx-0">
        <div class="col-md-3 mx-3">
            <img src= <%= @anime.image.gsub("small", "large") %> class="img-fluid rounded-start" alt= <%= @anime.title_jap %> >
        </div>
        <div class="col-md-8">
            <h1> <%= @anime.title_jap %> </h1>
            <h4 class="text-muted"> <%= @anime.title_eng %> </h4>
            <ol id="anime-tags" class="text-muted">
                    <% @anime.tags.split('|').each do |tag| %>
                        <li> <%= tag %> &nbsp;</li>
                    <% end %>
            </ol>
            <div class="card">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col">
                            <div id="arrow-pointer">
                                <div class="pt-1 ps-4">
                                    <small>Rating</small>
                                    <h4><%= @anime.rating %></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <small class="text-muted">Source</small>
                            <p class="lead">Manga</p>
                        </div>
                        <div class="col">
                            <small class="text-muted">Episodes</small>
                            <p class="lead">?</p>
                        </div>
                        <div class="col">
                            <small class="text-muted">Run time</small>
                            <p class="lead">24 min</p>
                        </div>
                    </div>
                    <hr class="m-0 mb-2">
                    <h5 class="card-title">Synopsis</h5>
                    <p class="card-text"> <%= @anime.description %> </p>
                    <hr class="m-0 mb-2">
                    <% links = @anime.external_links.split('|')%>
                    <div class="container">
                        <div class="row justify-content-center">
                            <% if links[0] != "null" %>
                                <div class="col-6 button-5 anilist mx-3 my-2">
                                    <a class="lead text-decoration-none" style="color: white;" href= <%= links[0] %> target="_blank"> AniList </a>
                                </div>
                            <%end%>
                            <% if links[1] != "null" %>
                                <div class="col-6 button-5 animelist mx-3 my-2">
                                    <a class="lead text-decoration-none" style="color: white;" href= <%= links[1] %> target="_blank" > MyAnimeList </a>
                                </div>
                            <%end%>
                            <% if links[2] != "null" %>
                                <div class="col-6 button-5 anidb mx-3 my-2">
                                    <a class="lead text-decoration-none" style="color: white;" href= <%= links[2] %> target="_blank"> AniDB </a>
                                </div>
                            <%end%>
                            <% if links[3] != "null" %>
                                <div class="col-6 button-5 anisearch mx-3 my-2">
                                    <a class="lead text-decoration-none" style="color: white;" href= <%= links[3] %> target="_blank"> AniSearch </a>
                                </div>
                            <%end%>
                            <% if links[4] != "null" %>
                                <div class="col-6 button-5 animeplanet mx-3 my-2">
                                    <a class="lead text-decoration-none" style="color: white;" href= <%= links[4] %> target="_blank"> AnimePlanet </a>
                                </div>
                            <%end%>
                            <% if links[5] != "null" %>
                                <div class="col-6 button-5 kitsu mx-3 my-2">
                                    <a class="lead text-decoration-none" style="color: white;" href= <%= links[5] %> target="_blank"> Kitsu </a>
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>